# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
MANIFEST.in
*.egg-info/dependency_links.txt
dist/
*.egg-info/SOURCES.txt
*.egg-info/top_level.txt
*.egg-info/PKG-INFO
test.py
nonebot_plugin_covid19_news/data.*